@charset "utf-8";

.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}

.athiti-regular {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url("Images/PP-001.png");
    background-color: lightblue;
    color: black;
    background-size: 3000px;
}
.img-head {
    width: 2000px; /* 100% or 2000px */
    background-color: #333;
    margin: 10px auto;
}

.img-contain {
    width: 1000px; /* 100% or 1000px */
}

.header {
    background-color: cornflowerblue;
}

.navigator {
    text-align: center;
}

.menubar {
    text-align: center;

}

.contain {
    text-align: center;
    width: 1000px;
    clear: both;
    margin: 10px auto;
    margin-bottom: 50px;
    background-color: antiquewhite;

    padding: 10px;
    border-radius: 8px;
    border: #111;
    li{
      text-align: left;
    }
}

.footer {
    text-align: center;

}

.ul-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.li-menu {
  float: left;
}

.li-menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li-menu a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}